@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'integralcf';
  src: url('../assets/fonts/integralcf-extrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
}
